# Entorno virtual
.venv/
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env
.env.*

# Base de datos local
db.sqlite3

# Archivos de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Node y React
node_modules/
dist/
build/