asgiref==3.8.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==5.2.3
django-cors-headers==4.9.0
idna==3.13
mercadopago==2.4.0
pillow==11.2.1
pyserial==3.5
requests==2.33.1
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
Unidecode==1.4.0
urllib3==2.6.3

python-dotenv
gunicorn
whitenoise