section,
main{
    margin-bottom: 0;
    padding-bottom: 0; 
}

html,
body{
    margin: 0;
    padding: 0;
}



html,
body{
    overflow-x: hidden;
}

/* evita scroll fantasma en móvil */
body{
    min-height: 100vh;
}